{
  "source": {
    "packages": {
      "azure-ml": "azure-ml"
    },
    "extensions": {
      "cli": "cli"
    }
  },
  "releases": {
    "pypi": {
      "packages": [
        "azure-ml"
      ],
      "extensions": [
        "cli"
      ]
    },
    "clipypi": {
      "packages": [
      ],
      "extensions": [
        "cli"
      ],
      "extensions_repo": "cli-release",
      "package_repo": "cli-release"
    },
    "rc": {
      "packages": [
        "azure-ml"
      ],
      "extensions": [
        "cli"
      ],
      "external": {
      },
      "package_repo": "packages-default",
      "extensions_repo": "index-default",
      "index": "index-default"
    },
    "daily": {
      "packages": [
        "azure-ml"
      ],
      "extensions": [
        "cli"
      ],
      "external": {
      },
      "package_repo": "packages-default",
      "extensions_repo": "index-default",
      "index": "index-default"
    },
    "master": {
      "packages": [
        "azure-ml"
      ],
      "extensions": [
        "cli"
      ],
      "package_repo": "packages-default",
      "extensions_repo": "index-default",
      "index": "index-default"
    },
    "pipeline-test": {
      "packages": [
        "azure-ml"
      ],
      "extensions": [
        "cli"
      ],
      "external": {
      },
      "package_repo": "packages-default",
      "extensions_repo": "index-default",
      "index": "index-default"
    },
    "test": {
      "packages": [
        "azure-ml"
      ],
      "extensions": [
        "cli"
      ],
      "package_repo": "packages-default",
      "extensions_repo": "packages-default",
      "index": "index-default"
    },
    "pipeline-release": {
      "packages": [
        "azureml-pipeline-internal"
      ],
      "extensions": [
        "cli"
      ],
      "external": {
      },
      "package_repo": "packages-internal",
      "extensions_repo": "index-internal",
      "index": "index-internal"
    },
    "nativeclient-release": {
      "packages": [
        "azure-ml"
      ],
      "extensions": [
        "cli"
      ],
      "external": {
      },
      "package_repo": "packages-internal",
      "extensions_repo": "index-internal",
      "index": "index-internal"
    }
  },
  "targets": {
    "packages-default": {
      "type": "arm",
      "generatetoken": "true",
      "account": "azuremlsdktestpypi",
      "resource": "azuremlsdktestpypi",
      "subscription": "Project Vienna Int",
      "container": "repo",
      "prefix": "{#prefix#}"
    },
    "index-default": {
      "type": "arm",
      "endpoint": "azuremlsdktestpypi.azureedge.net",
      "generatetoken": "false",
      "account": "azuremlsdktestpypi",
      "resource": "azuremlsdktestpypi",
      "subscription": "Project Vienna Int",
      "container": "wheels",
      "prefix": "{#prefix#}",
      "makesnapshots": "false"
    },
    "packages-internal": {
      "type": "arm",
      "generatetoken": "true",
      "account": "msftinternalpypi",
      "resource": "msft-internal-pypi",
      "subscription": "Project Vienna Int",
      "container": "repo",
      "prefix": "{#prefix#}"
    },
    "index-internal": {
      "type": "arm",
      "endpoint": "msft-internal-pypi.azureedge.net",
      "generatetoken": "false",
      "account": "msftinternalpypi",
      "resource": "msft-internal-pypi",
      "subscription": "Project Vienna Int",
      "container": "index",
      "prefix": "{#prefix#}",
      "makesnapshots": "false"
    },
    "cli-release": {
      "type": "arm",
      "generatetoken": "false",
      "account": "azurecliext",
      "resource": "azureml-cli",
      "subscription": "Project Vienna Int",
      "container": "release",
      "prefix": ""
    }
  }
}